<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="html">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<form th:action="@{/login}" th:object="${loginDTO}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>
</body>
</html>
